* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #8feee9 0%, #fabdd0 100%);
    background-attachment: fixed;
}

.container {
   
    width: 320px;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.form-container {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}

.form {
    width: 50%;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #218838;
}

.toggle-label {
    display: block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    text-align: center;
}

.toggle-label:hover {
    text-decoration: underline;
}

input[type="radio"] {
    display: none;
}

#signup:checked~.form-container {
    transform: translateX(-50%);
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


